.dashboard-credential-edu-element {
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 200px)) 140px;
  grid-column-gap: 4px;

  @media only screen and (max-width: 700px) {
    grid-template-columns: repeat(2, minmax(150px, 200px));
  }

  &--school,
  &--degree,
  &--years {
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 16px;
  }
  &--years {
    @media only screen and (max-width: 700px) {
      display: none;
    }
  }

  &--delete {
    justify-content: center;
    height: 50px;
    display: flex;
    align-items: center;
    @media only screen and (max-width: 700px) {
      display: none;
    }
  }
}
