.landing-page {
  display: flex;
  justify-content: center;
  height: calc(100vh - 64px);
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url('../../assets/landing.jpg');
  color: white;
  background-size: cover;
  background-position: bottom;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media only screen and (max-width: 600) {
  }
}
